.position {
	top: -21px;
	left: 22px;
	position: absolute;
}

.rating {
  font-size: 24px;
}

.star {
  color: #ccc;
  cursor: pointer;
}

.star.filled {
  color: gold;
}

.wrapper {
  @apply max-w-lg mx-auto py-4;

  .card {
    @apply bg-white p-4 h-auto shadow-md border relative;

    .box {
      @apply bg-white border w-auto position;

      .title {
        @apply p-2 font-medium mx-auto text-center;
      }
    }
  }
}
