@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

* {
	font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #5d6064;
	border-radius: 20px;
	border: transparent;
}

.error-message {
	@apply text-[#FF0000] text-xs mt-1;
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}
